*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e7e7e7 !important;
}

.vh-50{
  height: 35vh;
}
.pointer{
  cursor: pointer !important;
}

.pointerNav{
  cursor: pointer !important;
}

.pointerNav:hover{
  color: rgba(0, 0, 255, 0.801) !important;
}

.bg-black{
  background-color: black;
}